<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <img src="https://avatars.githubuserconsent.com/u/19819005?v=4" alt="" />

      <h2 class="color-primary">{{subject}}</h2>
      <hr />
      <p>Hello {{name}}</p>
      <p>We received a request to reset your AuthKit password
        <br />If you did not initiate this, Please reset your password
        immediately</p>
      <a href={{link}} class="btn-link">Reset Passowrd</a>

      <h3 style="margin-bottom: 50px;"> Didn't request this change</h3>
      <p style="margin-bottom: 50px;">
        if you didn't request a password reset, you can ignore this email.
        <br />
        Your password will not be changed.
      </p>

      <hr />
      <p>Regards,</p>
      <p><b>AuthStarter</b> Team</p>
      <div>
        <p style="font-size: 0.8rem;">
          If you're having trouble clicking the "Reset Password" button, copy
          and paste the URL below into your web browser:
          <br />
          <a href={{link}}>{{link}}</a>
        </p>
      </div>
    </div>

  </body>
</html>